@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


html{

    overflow-x: hidden;
}

body {
    background-color: #005CA8;
    font-family: Lato;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    background-color: #07316F;
    margin: 0;
    padding: 1% 0;
    color: #fff;
}
footer{
    background-color: #07316F;
    margin: 0;
    padding: 1% 0;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;

}

p{
    color: red;
}

h3{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: #fff;
    
}
h2 {
    text-align: center;
    padding-top: 5%;
}

#contact {
    
    background-color: white;
    height: 1100px;
    margin: 5% 5%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact1 {
    width: 600px;
}

.a2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.a1{
    margin: 2% 0;
}
.a3 {
    display: grid;
    grid-template-columns: 387px 200px;
    margin: 2% 0;
}

#a5 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 40px 100px 20px;
}

#btn {
    grid-column-start: 2;
    grid-row-start: 2;
    background: #005CA8;
    border-radius: 15px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: none;
}

.a6 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.a7{
    margin-bottom: 10%;
}



@media screen and (max-width :780px)  {

    .a3{

       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
    }

    #contact1{
        width: 200px;
    }
    
    #btn{
        grid-column-start: 2;
    }

    header{
        padding: 3% 0;
    }
    h2{
        font-size: 20px;
    }
}

@media (min-width: 1440px) and (max-width: 1440px) {

    #contact{
        height: 1130px;
    }
}

@media (min-width: 2560px) and (max-width: 2560px) {

    #contact{
        height: 1220px;
    }


}
